In [2]:
"Ejercicios de Practica con Pandas"

'Ejercicios de Practica con Pandas'

In [3]:
import pandas as pd
import numpy as np

In [4]:
#creamos un diccionario
diccionario={
    'uno':1,
    'dos':2,
    'tres':3,
    'cuatro':4,
    'cinco':5
}

In [5]:
mi_serie= pd.Series(diccionario)
mi_serie

uno       1
dos       2
tres      3
cuatro    4
cinco     5
dtype: int64

El siguiente ejemplo crea una Series a partir de un ndarray:

In [6]:
array = np.array([1, 2, 3, 4, 5])

indice=['uno','dos','tres','cuatro','cinco']

mi_serie2=pd.Series(array,index=indice)
mi_serie2

uno       1
dos       2
tres      3
cuatro    4
cinco     5
dtype: int32

El siguiente ejemplo crea una Series a partir de un ndarray:

In [7]:
numero=1
indice=['uno','dos','tres','cuatro','cinco']
mi_serie3=pd.Series(numero,index=indice)
mi_serie3

uno       1
dos       1
tres      1
cuatro    1
cinco     1
dtype: int64

Las Series actúa de manera muy similar a un ndarray, y pueden ser 
utilizadas en la mayoría de las funciones de NumPy:

In [8]:
mi_serie.iloc[0]
mi_serie.iloc[:5]
mi_serie.iloc[:-1]
mi_serie.loc[mi_serie>3]
mi_serie.iloc[[0,2,4]]
np.sqrt(mi_serie)

uno       1.000000
dos       1.414214
tres      1.732051
cuatro    2.000000
cinco     2.236068
dtype: float64

 Una serie es como un diccionario de tamaño fijo en el que puedes obtener y establecer valores por etiqueta de índice

In [9]:
mi_serie.loc['uno']
mi_serie.loc['dos']
'tres' in mi_serie
'trece' in mi_serie

False

Cuando se trabaja con vectores en NumPy, no suele ser necesario hacer un 
bucle de valor a valor. Lo mismo ocurre cuando se trabaja con Series en 
pandas:

In [10]:
mi_serie+mi_serie
mi_serie*5

uno        5
dos       10
tres      15
cuatro    20
cinco     25
dtype: int64

Una diferencia clave entre la Series y el ndarray es que las operaciones 
entre Series alinean automáticamente los datos a partir de la etiqueta. De esta forma, se pueden escribir cálculos sin tener en cuenta si las series implicadas tienen las mismas etiquetas*

In [11]:
mi_serie.iloc[:-1]+mi_serie.iloc[1:]

cinco     NaN
cuatro    8.0
dos       4.0
tres      6.0
uno       NaN
dtype: float64

##Introducción a Estructuras de Datos - DataFrame
 DataFrame es una estructura de datos etiquetada en 2 dimensiones con columnas de 
tipos comúnmente diferentes. 
● Es similar a una hoja de cálculo o una tabla SQL, o un diccionario de objetos de tipo Series. 
● Es el objeto de pandas más utilizado. 
● Al igual que la serie, el DataFrame acepta muchos tipos diferentes de entrada:
 ○ Diccionario de 1D ndarray, listas, diccionarios, o Series
 ○ 2D ndarray
 ○ ndarray estructurado o de registro
 ○ Una Series
 ○ Otro DataFrame
 ● Junto con los datos, se puede pasar opcionalmente los argumentos de índice (etiquetas de filas) y de columnas (etiquetas de columnas).

##Introducción a Estructuras de Datos - DataFrame a partir de un 
diccionario de Series o diccionarios
● El índice resultante será la unión de los índices de las distintas Series. 
● Si hay algunos diccionarios anidados, estos se convertirán primero en 
Series. 
● Si no se pasan columnas, las columnas serán la lista ordenada de 
claves de los diccionarios.

In [12]:
datos1 = pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])
datos2 = pd.Series([6, 7, 8, 9, 10], index=['a', 'b', 'c', 'd', 'e'])

diccionario1={'dic1':pd.Series(datos1,index=datos1.index),
              'dic2':pd.Series(datos2,index=datos2.index),
              'dic3':diccionario1['dic1']+diccionario1['dic2'],
              'dic4':diccionario1['dic1']*5}

df=pd.DataFrame(diccionario1)
df

NameError: name 'diccionario1' is not defined

Introducción a Estructuras de Datos - DataFrame a partir de un 
ndarray estructurado o de registro.
 ● Es similar a un diccionario de arrays:

In [ ]:
datos=np.zeros((2,), dtype=[('A','i4'),('B','f4'),('C','a10')])
df=pd.DataFrame(datos)
df

C:\Users\Usuario\AppData\Local\Temp\ipykernel_19444\3822272240.py:1: DeprecationWarning: Data type alias 'a' was deprecated in NumPy 2.0. Use the 'S' alias instead.
  datos=np.zeros((2,), dtype=[('A','i4'),('B','f4'),('C','a10')])

   A    B    C
0  0  0.0  b''
1  0  0.0  b''

In [ ]:
datos=[(1,2.,'Hola'),(2,3.,'Mundo')]
df=pd.DataFrame(datos)
df

   0    1      2
0  1  2.0   Hola
1  2  3.0  Mundo

Introducción a Estructuras de Datos - DataFrame a partir de una 
lista de diccionarios
 ● Es similar a un diccionario de arrays:

In [ ]:
diccionario=[{'uno':1,'dos':2},{'uno':1,'dos':2,'tres':3}]
df=pd.DataFrame(diccionario)
df=df.replace(np.nan, 0)  # Rellena NaN con 0
df  
# Rellena NaN con 0
  # Elimina columnas con todos los valores NaN

   uno  dos  tres
0    1    2   0.0
1    1    2   3.0

Introducción a Estructuras de Datos - DataFrame a partir del 
método from_dict
from_dict toma un diccionario de diccionarios o un diccionario de 
secuencias tipo array y devuelve un DataFrame. 
● Funciona como el constructor del DataFrame, excepto por el parámetro 
de orientación que es "columnas" por defecto, pero que puede ser 
configurado como "índice" para usar las teclas de dictado como 
etiquetas de fila:

In [ ]:
diccionario={'A':[1,2,3],'B':[4,5,6],'C':[7,8,9]}
df=pd.DataFrame(diccionario)
df

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

##Manipulación de Estructuras de Datos - Introducción
 Pandas ahora soporta dos tipos de indexación multieje:
 ○ .loc se basa principalmente en la etiqueta, pero también puede utilizarse con una matriz booleana. .loc elevará el 
KeyError cuando los elementos no se encuentren. Las entradas permitidas son:
 ■ Una sola etiqueta
 ■ Una lista o conjunto de etiquetas
 ■ Un subconjunto de un objeto
 ■ Una matriz booleana
 ■ Una función con un argumento (la llamada Series o DataFrame) y que devuelve una salida válida para la 
indexación (una de las anteriores).
 ○ .iloc se basa principalmente en la posición entera (desde 0 hasta la longitud-1 del eje), pero también puede 
utilizarse con un arreglo booleano. .iloc aumentará el IndexError si un indexador solicitado está fuera de los límites, 
excepto los indexadores de corte que permiten la indexación fuera de los límites. (esto se ajusta a la semántica de 
rebanadas de Python/NumPy). Las entradas permitidas son:
 ■ Un número entero
 ■ Una lista o conjunto de números enteros
 ■ Un subconjunto de un objeto
 ■ Una matriz booleana
 ■ Una función con un argumento (la llamada Series o DataFrame) y que devuelve una salida válida para la 
indexación (una de las anteriores)

Manipulación de Estructuras de Datos - Operador []

In [ ]:
diccionario=[{'uno':1,'dos':2},{'uno':1,'dos':2,'tres':3}]
df=pd.DataFrame(diccionario)
df['uno']

0    1
1    1
Name: uno, dtype: int64

In [ ]:
diccionario=[{'uno':1,'dos':2},{'uno':1,'dos':2,'tres':3}]
df=pd.DataFrame(diccionario)
df[['uno','dos']]

   uno  dos
0    1    2
1    1    2

 Se puede acceder a un índice en una Serie o columna en un DataFrame directamente como un atributo:

In [ ]:
datos=[1,2,3,4,5]
indice=['a','b','c','d','e']
serie=pd.Series(datos,index=indice)
serie.b

np.int64(2)

 ● Para obtener subconjuntos con Series se puede utilizar el operador [ ], la sintaxis funciona exactamente como con un darray, devolviendo el subconjunto de los valores y las etiquetas correspondientes:

In [ ]:
datos=[1,2,3,4,5]
indice=['a','b','c','d','e']
serie=pd.Series(datos,index=indice)
serie[3:]
serie[::2]

a    1
c    3
e    5
dtype: int64

Con los DataFrames, el operador [ ] corta las filas:

In [ ]:
diccionario=[{'uno':1,'dos':2},
             {'uno':1,'dos':2,'tres':3},
             {'uno':1,'dos':2,'tres':3}]

df=pd.DataFrame(diccionario)
df[:-1] # Elimina la última fila
df.iloc[:-1]  # Elimina la última fila usando iloc
df[::-1]  # Invierte el orden de las filas

   uno  dos  tres
2    1    2   3.0
1    1    2   3.0
0    1    2   NaN

 ● Pandas proporciona un conjunto de métodos para tener una indexación basada 
puramente en etiquetas
 ● Se trata de un protocolo basado en la inclusión estricta
 ● Cada etiqueta que se pida debe estar en el índice, o se levantará un KeyError
 ● Cuando se corta, se incluyen tanto el límite de inicio como el límite de parada, si está 
presente en el índice
 ● Los números enteros son etiquetas válidas, pero se refieren a la etiqueta y no a la 
posición

In [ ]:
datos=[1,2,3,4,5]
indice=['a','b','c','d','e']
serie=pd.Series(datos,index=indice)
serie.loc['a']
serie.loc[['d','e']]

d    4
e    5
dtype: int64

Con un DataFrame

In [ ]:
diccionario=[{'uno':1,'dos':2},
             {'uno':1,'dos':2,'tres':3},
             {'uno':1,'dos':2,'tres':3}]
indice=['a','b','c']

df=pd.DataFrame(diccionario,index=indice)
df.loc['a']
df.loc['a':,'dos']
df.loc['a','uno']  
df.loc['b':,'dos']  # Selecciona desde 'b' en adelante, columna 'dos'

b    2
c    2
Name: dos, dtype: int64

 Mediante un array de booleanos

In [ ]:
diccionario=[{'uno':1,'dos':2},
             {'uno':1,'dos':2,'tres':3},
             {'uno':1,'dos':2,'tres':3}]
indice=['a','b','c']
df=pd.DataFrame(diccionario,index=indice)
df.loc['b']>1
df.loc['b'][df.loc['b']>1] # Selecciona valores mayores a 1 en la fila 'b'

dos     2.0
tres    3.0
Name: b, dtype: float64

● Pandas proporciona un conjunto de métodos para obtener una indexación basada puramente en números enteros
 ● La semántica es similar a la selección de subconjuntos de Python y NumPy
 ● Es una indexación basada en 0
 ● Al rebanar, se incluye el límite de inicio, mientras que el límite superior se excluye

In [ ]:
datos=[1,2,3,4,5]
indice=['a','b','c','d','e']
serie=pd.Series(datos,index=indice)
serie[serie>3]  # Selecciona valores mayores a 3
serie.iloc[2]
serie.iloc[2:]  # Selecciona desde el índice 2 
serie.iloc[:2]

a    1
b    2
dtype: int64

 Con un DataFrame:

In [ ]:
diccionario=[{'uno':1,'dos':2},
             {'uno':1,'dos':2,'tres':3},
             {'uno':1,'dos':2,'tres':3}]
indice=['a','b','c']
df=pd.DataFrame(diccionario,index=indice)
df.iloc[:1]  # Selecciona la primera fila
df.iloc[:2,:1]  # Selecciona la primera fila y todas las columnas a partir de la segunda

   uno
a    1
b    1

 ● Para seleccionar de manera aleatoria de filas o columnas de una Serie o DataFrame se utiliza el método sample()
 ● El método muestrea las filas por defecto, y acepta un número específico de filas/columnas a devolver, o un porcentaje (fracción) de filas.

In [ ]:
datos=[1,2,3,4,5]
indice=['a','b','c','d','e']
serie=pd.Series(datos,index=indice)
serie.sample()
serie.sample(n=2)
serie.sample(frac=0.5)  # Muestra el 50% de los datos

c    3
d    4
dtype: int64

Método where()
A diferencia de la selección de valores de una Serie con un vector booleano, que generalmente devuelve un subconjunto de los datos, se puede utilizar el método where en Series y DataFrame para garantizar que la salida de la selección tiene la 
misma forma que los datos originales

In [ ]:
datos=[1,2,3,4,5]
indice=['a','b','c','d','e']
serie=pd.Series(datos,index=indice)
serie[serie>2]
serie.where(serie>2)

a    NaN
b    NaN
c    3.0
d    4.0
e    5.0
dtype: float64

 Además, where toma un argumento opcional other para el reemplazo de los valores donde la condición es Falsa:

In [ ]:
serie.where(serie>2, other=0)  # Reemplaza valores que no cumplen la condición con 0
serie.where(serie>2,serie + 2)

a    3
b    4
c    3
d    4
e    5
dtype: int64

 Los objetos DataFrame tienen un método query() que permite la selección mediante una expresión

In [ ]:
diccionario=[{'uno':1,'dos':2},
             {'uno':10,'dos':20,'tres':30},
             {'uno':100,'dos':200,'tres':300}]
indices=['a','b','c']
df=pd.DataFrame(diccionario,index=indices)
df.query('uno>=10 and dos<200')
df.query('uno>=100 and tres<=300')

   uno  dos   tres
c  100  200  300.0

##Datos tipo Texto

● En pandas hay dos formas de almacenar texto:
 ○ object-dtype NumPy array
 ○ StringDtype
 ● El tipo StringDtype ha de ser definido explicitamente, por defecto el tipo es object:

In [ ]:
pd.Series(list('abcde'),dtype='string')
#modificado despues de creado
serie=pd.Series(list('abcde'))
serie.astype('string')

0    a
1    b
2    c
3    d
4    e
dtype: string

Para acceder a las operaciones de cadenas de texto, utilizaremos el operador .str:

In [ ]:
serie=pd.Series(list('abcdef'),dtype='string')
serie.str.upper()
serie.str.lower()
serie.str.len()
serie.str.split('_')

0    [a]
1    [b]
2    [c]
3    [d]
4    [e]
5    [f]
dtype: object

###Método extract()
 ● El método extract() acepta una expresión regular con al menos un grupo de captura
 ● La extracción de una expresión regular con más de un grupo devuelve un DataFrame con una columna por grupo.
 ● Los elementos que no coinciden regresan a una fila llena de NaN
 ● El dtype del resultado es siempre objeto, incluso si no se encuentra ninguna coincidencia y el resultado sólo contiene NaN

In [ ]:
serie=pd.Series(['a1', 'b2', 'c3', 'd4', 'e5'],dtype='string')
serie.str.extract(r'([ab])(\d)')  # Extrae letras seguidas de un dígito

      0     1
0     a     1
1     b     2
2  <NA>  <NA>
3  <NA>  <NA>
4  <NA>  <NA>

In [ ]:
serie=pd.Series(['a1', 'b2', 'c3', 'd4', 'e5'],dtype='string')
serie.str.extract(r'(?P<letra>[abc])(?P<digito>\d)')  # Extrae letras seguidas de un dígito con nombres de grupos

  letra digito
0     a      1
1     b      2
2     c      3
3  <NA>   <NA>
4  <NA>   <NA>

 En Pandas, en una columna de tipo string se puede comprobar si contiene un patrón con el método contains:

In [ ]:
patron=r'[abc][\d]'
serie=pd.Series(['a1', 'b2', 'c3', 'd4', 'e5'],dtype='string')
serie.str.contains(patron) # Verifica si la serie contiene el patrón 
serie.str.replace(patron, 'X', regex=True)  # Reemplaza el patrón por 'X' usando regex

0     X
1     X
2     X
3    d4
4    e5
dtype: string

 También si coincide un determinado patrón

In [13]:
patron=r'[ab][\d]'
serie=pd.Series(['a1', 'b2', 'c3', 'd4', 'e5'],dtype='string')
serie.str.match(patron)

0     True
1     True
2    False
3    False
4    False
dtype: boolean

 O si coincide de manera completa:

In [14]:
patron=r'[ab][\d]'
serie=pd.Series(['a1', 'b2', 'c3', 'd4', 'e5'],dtype='string')
serie.str.fullmatch(patron)

0     True
1     True
2    False
3    False
4    False
dtype: boolean

###Datos de tipo categórico

 ● En pandas las categorías son de tipo CategoricalDtype
 ● El tipo de una categoría se describe completamente por
 ○ categories: una secuencia de valores únicos y sin valores perdidos
  ○ ordered: un booleano
 ● En Pandas se puede definir una Serie o la columna de un DataFrame de tipo categórico.
 ● Se puede realizar especificando el tipo en la construcción:

In [16]:
series=pd.Series(list('abcdef'),dtype='category')

 O modificado después de creado:

In [ ]:
series=pd.Series(list('abcdef'))
series.astype('category')  # Convierte la serie a tipo 'category'

 ● Para acceder a los métodos de las categorías se utiliza el operador .cat

In [18]:
series=pd.Series(list('abcdef'),dtype='category')
series.cat.categories  # Muestra las categorías de la serie
series.cat.codes  # Muestra los códigos de las categorías

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int8

###Datos de tipo temporal

 ● En pandas las fechas y horas son, principalmente, de tipo Timestamp
 ● Las colecciones de Timestamp son de tipo DatetimeIndex
 ● La definición de una serie de Timestamp se realiza de la siguiente forma:

In [20]:
fechas=[pd.Timestamp('2023-09-01'),
        pd.Timestamp('2023-09-02'),
        pd.Timestamp('2023-10-03'),
        pd.Timestamp('2023-10-05'),
        pd.Timestamp('2023-10-08')]

serie=pd.Series(fechas)
serie

0   2023-09-01
1   2023-09-02
2   2023-10-03
3   2023-10-05
4   2023-10-08
dtype: datetime64[ns]

In [22]:
serie=pd.Series(fechas)
serie.dt.year
serie.dt.month# Extrae el año de las fechas

0     9
1     9
2    10
3    10
4    10
dtype: int32